{% extends "base.html" %}

{% block title %}
List of lift
{% endblock title %}

{% block content %}
<h1>lift</h1>
<div class="mb-10">
    {% for item in items %}
    <div class="mb-5">
            <div>
                <label><b>{{"lift_number" | capitalize }}:</b> {{item.lift_number}}</label>
                </div>
            <a href="/lifts/{{ item.id }}/edit">Edit</a>
            <a href="/lifts/{{ item.id }}">View</a>
        </div>
    {% endfor %}

    <br />
    <br />
    <a href="/lifts/new">New lift</a>
</div>
{% endblock content %}
