{% extends "base.html" %}

{% block title %}
List of muscle
{% endblock title %}

{% block content %}
<h1>muscle</h1>
<div class="mb-10">
    {% for item in items %}
    <div class="mb-5">
            <div>
                <label><b>{{"name" | capitalize }}:</b> {{item.name}}</label>
                </div>
            <a href="/muscles/{{ item.id }}/edit">Edit</a>
            <a href="/muscles/{{ item.id }}">View</a>
        </div>
    {% endfor %}

    <br />
    <br />
    <a href="/muscles/new">New muscle</a>
</div>
{% endblock content %}
